<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forloop</title>
</head>
<body style="background-color: chartreuse;">
    <center>
        <h1>
            <b>
                <i>
                    {% for i in name %}
                        {{i}}
                        <h1>STATEMENT FOR FORLOOP </h1>
                    {% endfor %}
                </i>
            </b>
        </h1>
    </center>
    
</body>
</html>